/*html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}*/
*{
  font-family: 'Open Sans', sans-serif;
}
.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  margin-top:350px;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
.git-links{
    font-size: 20px;
}
.ProjectImg{
  max-width: 100%;
}
.SectionTextContainer{
  display: flex;
  flex-direction: column;
}
.SectionProjectHeader{
  text-align: left;
}

.nav-items{
  margin: 0 20px;
  text-decoration: none !important;
  color: white !important;
}
.navbar-brand{
  margin-left: 20px;
}
.my-name-is{
  margin-left:200px;
  font-size:25px;
  margin-top:50px;
  animation-duration: 500ms;
  animation-delay:1000ms;
  
}
.big-heading{
  font-weight:700;
  font-size:75px;
  margin-left:200px;
  animation-duration: 700ms;
  animation-delay:2000ms;
  
}
.big-heading2{
  font-weight:700;
  font-size:75px;
  margin-left:200px;
  animation-duration: 700ms;
  animation-delay:3000ms;
  
}
.I-am-a{
  margin-left: 200px;
  font-size:25px;
  animation-duration: 900ms;
  animation-delay:4000ms;
}
#about{
  animation-duration:1100ms;
  margin-top: 100px;
  animation-delay: 5000ms;
}
/*Animaton*/
@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.links{
  text-decoration: none;
  color:black;
  justify-content: center;
  align-items: center;
  display: flex;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
